

body{

    background-color: #ffb3c1;
    background-image: url(./vermelhoM.png);
    background-repeat: no-repeat;
    background-position: 80% 80%; 
    
  }



  
h1 {
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    display: block;
    margin: 100px auto;
    background-color:#ff5c8a;
    font-family:"Lucida Sans";
    color: #fff;
    text-shadow: 0 1px 0 #666;
    border:5px solid #ffb3c1; 
    padding: 10px;
    float: center;
    width: 70%;
    color: #fff;
    height:50px; 
  }



.input{  
    text-align: bottom;
    margin: 150px auto;


  }
  .button{
    text-align: center;
    margin: 30px auto;

  }


.container {
 
    
    width: 350px;
    height:185px;
    border: 40px solid;
    border: 1px  #bbb;
    display: block;
    margin: 100px auto;
    background:#ff0a54;
    background-position:bottom;
    background-image: url(./microChip.png);
    background-repeat: no-repeat;
    background-position: 10% 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px; }


   .btn{
         margin: 10px auto;
         padding: 4px 11px;

         border: 1px solid #df2692;
         -moz-border-radius: 8px;
         -webkit-border-radius: 8px;
         border-radius: 8px;
         
         background-color: #ff477e!important;
         background: -webkit-linear-gradient(top, #ff477e, #ffccd5) !important;
         background: -moz-linear-gradient(top, #ff477e, #ffccd5) !important;
         background: -ms-linear-gradient(top, #ff477e, #ffccd5) !important;
         background: -o-linear-gradient(top, #ff477e, #ffccd5) !important;
         filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcc00', endColorstr='#ff6600',GradientType=0 );
         
         font-family:"Segoe UI";
         font-weight: bold;
         color: #fff;
         text-shadow: 0 1px 0 #666;
         
         box-shadow: inset 0 1px 1px #fff, 0 2px 3px #666;
         cursor:pointer;
         position: relative;

   };

   

   